<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<!-- Bootstrap Font Icon CSS -->
	<!-- Option 1: Include in HTML -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

	<!--custom style-->
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	
	<!--Sweet-Alert-->
	<link rel="stylesheet" href="sweetalert2.min.css">
		
	<title th:text="${title}"></title>
</head>

<body>

	<!--START Navber-->
	<nav class="navbar navbar-expand-lg navbar-dark nav-body fixed-top">
		<div class="container-fluid">
			<a class="navbar-brand fw-bold text-uppercase" th:href="@{/}" style="color: #C2185B">
				CLUSTER CALL CENTER</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse fw-bold justify-content-end text-uppercase"
				id="navbarSupportedContent">

				<ul class="navbar-nav mb-2 mb-lg-0 ml-auto">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" th:href="@{/user/dashboard}">Home</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" th:href="@{/faq}">faq</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link border border-success rounded" style="margin-right: 5px;" th:href="@{/user/profile/0}">
							<span th:text="${user.name}"></span> <span th:text="${user.sureName}"></span>
						</span>
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link border border-danger rounded btn btn-outline-danger"
							th:onclick="|logoutComfirm()|">Logout <i class="bi bi-box-arrow-right"></i></a>
					</li>

				</ul>
			</div>
		</div>
	</nav>
	<!--END Navber-->


	<!--START Sideber-->
	<main class="sidebar mt-2">
		<span onclick="toggleSidebar()" class="closebtn">&times;</span>

		<a class="item" href="#" th:href="@{/user/dashboard}"> <i class="bi bi-house"></i> Home</a>
		<a class="item" href="#" th:href="@{/user/add-contact}"> <i class="bi bi-person-plus-fill"></i> Add Contact</a>
		<a class="item" href="#" th:href="@{/user/view-contacts/0}"> <i class="bi bi-view-list"></i> View Contacts</a>
		<a class="item" href="#" th:href="@{/user/profile/0}"> <i class="bi bi-person-lines-fill"></i> Profile</a>
		<a class="item" href="#" th:href="@{/user/profile-setting}"><i class="bi bi-sliders"></i> Settings</a>
		<a class="item" href="#" th:onclick="|logoutComfirm()|"><i class="bi bi-box-arrow-left"></i> Logout</a>
		<div class="divider"></div>
	</main>

	<!--END Sideber-->
	
	

	<!-- Start Main Content-->
	<!--replace every contant here-->
	<div class="content mt-5">		

		<h2 onclick="toggleSidebar()" class="p-1">
			<i class="bi bi-arrow-down-left-square-fill"></i>
		</h2>
		
	<!-- START SHOWING ALERT MESSAGE -->
		<div class="container text-center">
			<div th:if="${session.message}" class="alert alert-dismissible fade show mt-3" th:classappend="${session.message.type}"
				role="alert">
				<strong th:text="${session.message.content}"></strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				<th:block th:text="${@sessionHelper.removeMessage('message')}"></th:block>
			</div>
		</div>
	<!-- END SHOWING ALERT MESSAGE -->
		
		<div th:replace="${content}"></div>
	</div>
	<!--End Main Content -->




	<!-- Bootstrap Bundle With Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

	<!--Custom js-->
	<script th:src="@{/js/script.js}"></script>
	<!--Jquery cdn-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<!--Sweet Alert-->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	
</body>

</html>